.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.login-logo {
  width: 150px;
  margin-top: 30px;
}

.login-container {
  margin-top: 30px;
  border: 1px solid lightgray;
  width: 320px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  height: 350px;
}

.login-container > h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
}

.label {
  margin-bottom: 10px;
  font-size: 15px;
}
input {
  width: 95%;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 5px;
  border: 1px lightgray solid;
}

input:focus {
  outline: none;
  border: 2px solid darkorange;
}

button {
  background-color: #f0c14b;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 120px;
  transition: 0.3s;
  margin-top: 20px !important;
}

button:hover {
  background-color: darkorange;
  transition: 0.3s;
}
.p_need_help {
  margin-top: 20px;
  font-size: 12px;
  color: rgb(18, 112, 156);
}
